@charset "UTF-8";
body,
body * {
  font-family: "Noto Sans Kr", sans-serif;
}

body {
  color: #222;
}

button {
  cursor: pointer;
}

.w_set {
  width: 1080px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.nunito {
  font-family: "Nunito Sans", sans-serif;
}

.btn {
  font-size: 17px;
  line-height: 22px;
  padding: 0.7rem 0.75rem;
  border-radius: 3px;
}
.btn.color_1 {
  color: #fff;
  background-color: #39A7FF;
}
.btn.color_2 {
  border: 1px solid #e9e9e9;
  font-size: 14px;
  color: #d84949;
  padding: 3px 10px;
}

.tit_wrap {
  text-align: center;
}
.tit_wrap > span {
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  color: #39A7FF;
}
.tit_wrap p {
  font-size: 29px;
  line-height: 42px;
  font-weight: 500;
}
.tit_wrap p.sub_tit {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
}
.tit_wrap p em {
  color: #39A7FF;
}
.tit_wrap p span {
  display: inline;
}
.tit_wrap p span + span {
  margin-left: 4px;
}

.essen {
  position: relative;
}
.essen:before {
  content: "*";
  position: absolute;
  top: 0;
  right: -7px;
  color: #39A7FF;
}
.essen.type_l:before {
  right: auto;
  left: -7px;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text], input[type=number] {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  padding: 0 10px;
}
input[type=text]::placeholder, input[type=number]::placeholder {
  font-size: 15px;
  color: #989898;
}
input[type=text]:focus, input[type=number]:focus {
  outline: none;
  border-color: #39A7FF;
  background-color: rgba(224, 244, 255, 0.5176470588);
}

textarea {
  width: 100%;
  height: 300px;
  border: 1px solid #d3d3d3;
  resize: none;
  padding: 10px;
}
textarea:focus {
  outline: none;
  border-color: #39A7FF;
}
textarea::-webkit-scrollbar {
  width: 8px;
  /* 가로축 스크롤바 폭 너비 */
  cursor: pointer;
  margin-left: 10px;
}
textarea::-webkit-scrollbar-thumb {
  background: #ddd;
  /* 스크롤바의 색상 */
  border-radius: 10px;
  cursor: pointer;
}
textarea::-webkit-scrollbar-track {
  background: #f4f4f4;
  /*스크롤바 뒷 배경 색상*/
  border-radius: 10px;
  cursor: pointer;
}

.checkbox > input[type=checkbox] {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
.checkbox > label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 31px;
  font-size: 15px;
  color: #222;
  line-height: 22px;
}
.checkbox > label::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -13px;
  width: 24px;
  height: 24px;
  background: #e9e9e9 url("../images/ico/checkbox_on.svg") no-repeat center center;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  box-sizing: border-box;
}
.checkbox input:checked ~ label:before {
  border: 0 none;
  background: #39A7FF url("../images/ico/checkbox_on.svg");
  background-size: 100% 100%;
}
.checkbox input[disabled] ~ label:before {
  background-color: #d3d3d3;
}

.attach > input[type=file] {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
.attach > label {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  padding: 15px 40px;
}
.attach > label:hover {
  border-color: #39A7FF;
}
.attach > label span {
  font-size: 18px;
  color: #39A7FF;
  position: relative;
  padding-left: 15px;
}
.attach > label span:before {
  content: "";
  background: url(../images/ico/plus_ico.svg) no-repeat center;
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1080px) {
  body:not(.is_pc) .w_set {
    width: auto;
    max-width: 1080px;
    padding-left: 16px;
    padding-right: 16px;
  }
  body:not(.is_pc) .hide_m {
    display: none !important;
  }
  body:not(.is_pc) .tit_wrap > span {
    font-size: 15px;
  }
  body:not(.is_pc) .tit_wrap p {
    font-size: 22px;
    line-height: 32px;
    word-break: keep-all;
  }
  body:not(.is_pc) .tit_wrap p.sub_tit {
    font-size: 18px;
    line-height: 24px;
  }
  body:not(.is_pc) .tit_wrap p span {
    display: block;
  }
  body:not(.is_pc) .tit_wrap p span + span {
    margin-left: 0;
  }
}/*# sourceMappingURL=common.css.map */